			h1{color: #FF0000;font-family: "黑体";}
			p.first{color: #000000;font-family: "宋体";font-size: 12;}
			p.second{color: #00FF00;font-family: "宋体";font-size: 32;}
			.mystyle{color: #0000FF;font-family: "黑体";font-size: 64;}